<p>Posts by user</p>
<%= flash[:notice]%>
<div class="posts-container">
  <div class="img-post">
          <img src="<%= @user.photo %>"/>
      <div class="name-posts">
          <div class="name"><%= @user.name %></div>
          Number of posts: <%= @user.posts_counter %>
      </div>
      Bio: <%= @user.bio%>
  </div>
 
  <ul class="posts">
    <% @user.posts.includes(:author, :comments).each do |post| %>
        <a href="<%= user_post_path(@user, post) %>">
        <li class="user-posts" ">
            
                <h3><%= link_to "Post ##{post.id}", user_post_path(@user, post)%></h3>
                <p><%=post.title%></p>
                <p><%=post.text%></p>
                <div class="com-like">Comments: <%= post.comments_counter%> Likes: <%= post.likes_counter%></div>
            
        </li>
        </a>
        <% post.five_recent_comments.each do |comment| %>
            <div class="user-comments">
              <div>Comment: <%= comment.text %></div>
            </div>
          <% end %>
    <% end %>
  </ul>

  <button class='see-all, pagination' type='button'>Pagination</button>
  # <% if @current_user && @current_user.id == @user.id %>
  #   <button class="btn_add_new_post">
  #     <%= link_to 'Add new Post', new_user_post_path(user_id: @user.id) %>
  #   </button>
  # <% end %>
</div>